// PAGE/STYLEGUIDE

.styleguide__container {

  .section-title__title {
    font-weight: 600;
    text-transform: uppercase;
  }

  .section-color__colors-wrapper {
  }

  .section-colors__color-item {
    display: inline-block;
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);

    &.main { background-color: $red; }
    &.white { background-color: $white-dark; }
    &.blue-light { background-color: $blue-light; }
    &.grey { background-color: $grey; }
    &.blue-dark { background-color: $blue-dark; }
  }

}
